@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Giriş Görseli -->
<section class="inner_page_breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="breadcrumb_content">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                    </ol>
                    <h4 class="breadcrumb_title">İletişim</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Contact -->
<section class="our-contact  bgc-f7">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <div class="form_grid">
                    <h4 class="mb5">Bilgi almak için bize mesaj atın</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida quis libero eleifend ornare. Maecenas mattis enim at arcu feugiat, sit amet blandit nisl iaculis. Donec lacus odio, malesuada eu libero sit amet, congue aliquam leo. In hac habitasse platea dictumst.</p>
                    <form asp-action="Contact" asp-controller="Home" method="post" class="contact_form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" name="FirstName" class="form-control" required="required" type="text" placeholder="Ad">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" name="LastName" class="form-control" required="required" type="text" placeholder="Soyad">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" name="Phone" class="form-control" required="required" type="number" placeholder="Telefon">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input id="form_name" name="Mail" class="form-control" required="required" type="email" placeholder="Mail">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea id="form_message" name="MessageContent" class="form-control required" rows="8" required="required" placeholder="Mesajınızı giriniz"></textarea>
                                </div>
                                <div class="form-group mb0">
                                    <button type="submit" class="btn btn-lg btn-thm">Mesaj Gönder</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="contact_localtion">
                    <h4>İletişim Bilgilerimiz</h4>
                    <div class="content_list">
                        <h5>Adres</h5>
                        <p>Çiftlikköy - Çatalca - İstanbul</p>
                    </div>
                    <div class="content_list">
                        <h5>Telefon</h5>
                        <p>0(535) 721 58 95</p>
                    </div>
                    <div class="content_list">
                        <h5>E-Posta</h5>
                        <p><a>Arsaofisim@hotmail.com</a></p>
                    </div>
                    <h5>Sosyal Medya Hesaplarımız</h5>
                    <ul class="contact_form_social_area">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>






